<div class="flex justify-center h-full bg-slate-100">
  <mat-card>
    <mat-card-title>
      <h2>Forgot Password</h2>
    </mat-card-title>
    <mat-card-content [formGroup]="passwordForm">
      <mat-form-field class="w-full">
        <mat-label>New password</mat-label>
        <input matInput formControlName="password" type="password" />
      </mat-form-field>
      <mat-form-field class="w-full">
        <mat-label>Retype New password</mat-label>
        <input matInput formControlName="retypeNewpassword" type="password" />
        <mat-error
          *ngIf="
            passwordForm.get('retypeNewpassword')?.hasError('passwordMismatch')
          "
        >
          Password is not matching
        </mat-error>
      </mat-form-field>

      <div>
        {{ res.message }}
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button
        mat-button
        color="primary"
        [disabled]="passwordForm.pristine || passwordForm.invalid"
        (click)="reset(passwordForm.controls.password.value)"
      >
        RESET
      </button>
      <a mat-button [routerLink]="['', '/login']">BACK</a>
    </mat-card-actions>
  </mat-card>
</div>
