<app-layout [showLoader]="showLoader">
  <div class="grid gap-6 grid-cols-[repeat(auto-fill,minmax(250px,1fr))]">
    <div
      *ngFor="let item of products$ | async"
      class="flex flex-col p-5 m-4 rounded-md cursor-pointer hover:bg-gray-200 card bg-gray-100"
      [routerLink]="['/product', item.id]"
    >
      <img
        class="img m-auto"
        [src]="'data:image/jpeg;base64,' + item.imageData"
      />
      <div class="text-center text-lg font-semibold">{{ item.name }}</div>
      <div class="flex flex-col gap-4 justify-between">
        <div class="text-center">₹{{ item.price }}</div>
        <div>
          M.R.P: ₹<span class="line-through">{{
            item.price + item.price / 10
          }}</span>
        </div>

        <button
          class="btn"
          *ngIf="item.is_available"
          (click)="addTocard($event)"
        >
          add to cart
        </button>

        <button mat-raised-button *ngIf="!item.is_available" disabled>
          out of stock
        </button>
      </div>
    </div>
  </div>
</app-layout>
