<div class="flex justify-center h-full bg-slate-100">
  <mat-card style="background-color: #ffffff29">
    <mat-card-title>
      <h2>Forgot Password</h2>
    </mat-card-title>
    <mat-card-content>
      <mat-form-field class="w-full">
        <mat-label> Enter your email address </mat-label>
        <input matInput [formControl]="email" />
        <mat-error *ngIf="email.invalid">
          please enter valid email address
        </mat-error>
      </mat-form-field>

      <div>{{ message$ | async }}</div>
    </mat-card-content>

    <mat-card-actions>
      <button
        mat-button
        color="primary"
        [disabled]="email.pristine || email.invalid"
        (click)="resetPassword()"
      >
        RESET
      </button>
      <a mat-button routerLink="/login">BACK</a>
    </mat-card-actions>
  </mat-card>
</div>
