<div>
  <div class="navbar">
    <div class="left-section">
      <button class="menu-toggle" (click)="isMenuOpen = !isMenuOpen">
        <mat-icon class="menu-icon" [ngClass]="{ open: isMenuOpen }">
          {{ isMenuOpen ? "close" : "menu" }}
        </mat-icon>
      </button>

      <div class="nav-links" [ngClass]="{ open: isMenuOpen }">
        <div
          routerLink="/home"
          routerLinkActive="active-link"
          class="cursor-pointer"
        >
          Home
        </div>
        <div
          *ngIf="authService.isSeller$ | async"
          routerLink="/addproduct"
          routerLinkActive="active-link"
          class="cursor-pointer"
        >
          Add product
        </div>
        <div
          *ngIf="authService.isAdmin$ | async"
          class="cursor-pointer"
          routerLinkActive="active-link"
          routerLink="/user-details"
        >
          Manage Users
        </div>
      </div>
    </div>

    <div class="right-section">
      <div class="cursor-pointer font-semibold">Cart</div>

      <!-- Search -->
      <div class="relative wrapper search-wrapper" tabindex="0">
        <input
          type="text"
          placeholder="search product"
          [formControl]="searchControl"
          class="border-2 border-gray-300 p-1 rounded-lg max-w-[inherit]"
        />
        <div
          *ngIf="searchControl.value && issearchFocused"
          class="search-results"
        >
          <ng-container *ngIf="(searchedData$ | async).length">
            <div
              *ngFor="let data of searchedData$ | async"
              class="search-item"
              (mousedown)="navigateToProduct(data.id)"
            >
              <img
                [src]="'data:image/jpeg;base64,' + data.imageData"
                class="search-img"
              />
              {{ data.name }}
            </div>
          </ng-container>
          <div *ngIf="!(searchedData$ | async).length" class="p-1 border-b-2">
            no data found
          </div>
        </div>
      </div>

      <!-- Profile -->
      <div
        class="relative wrapper"
        tabindex="0"
        (blur)="isProfileClicked = false"
      >
        <mat-icon
          alt="profile"
          class="max-w-8 max-h-8 rounded-lg hover:cursor-pointer"
          (click)="isProfileClicked = !isProfileClicked; cdr.detectChanges()"
        >
          account_circle
        </mat-icon>
        <div *ngIf="isProfileClicked" class="profile-dropdown">
          <div class="profile-item">{{ authService.name$ | async }}</div>
          <div class="profile-item" (click)="changePassword()">
            Change password
          </div>
          <div class="profile-item" (click)="logout()">Logout</div>
        </div>
      </div>
    </div>
  </div>

  <div>
    <ng-content></ng-content>
  </div>
</div>

<!-- Loader -->
<div class="backdrop" [ngClass]="{ show: showLoader }">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
