<div>
  <div class="flex p-4 justify-between bg-gray-300">
    <div class="flex items-center font-semibold gap-4">
      <div
        routerLink="/home"
        routerLinkActive="active-link"
        class="cursor-pointer"
      >
        Home
      </div>
      <div
        *ngIf="authService.isSeller$ | async"
        routerLink="/addproduct"
        routerLinkActive="active-link"
        class="cursor-pointer"
      >
        Add product
      </div>
      <div
        *ngIf="authService.isAdmin$ | async"
        class="cursor-pointer"
        routerLinkActive="active-link"
        routerLink="/user-details"
      >
        Manage Users
      </div>
    </div>
    <div class="flex gap-4 items-center">
      <div class="cursor-pointer font-semibold">cart</div>

      <div
        class="relative wrapper"
        tabindex="0"
        (focusout)="isseachFocused = false"
        (focusin)="isseachFocused = true"
      >
        <input
          type="text"
          placeholder="search product"
          [formControl]="searchControl"
          class="border-2 border-gray-300 p-1 rounded-lg"
        />

        <div
          *ngIf="searchControl.value && isseachFocused"
          class="absolute top-10 bg-white border-2 rounded-lg w-48"
        >
          <ng-container *ngIf="searchedData.length">
            <div
              *ngFor="let data of searchedData"
              class="p-1 cursor-pointer hover:bg-gray-100 flex gap-1"
              (mousedown)="navigateToProduct(data.id)"
            >
              <img
                [src]="'data:image/jpeg;base64,' + data.imageData"
                class="max-w-10 max-h-10 rounded-lg"
              />

              {{ data.name }}
            </div>
          </ng-container>

          <div *ngIf="!searchedData.length" class="p-1 border-b-2">
            no data found
          </div>
        </div>
      </div>
      <div>{{ authService.name$ | async }}</div>
      <div
        class="relative wrapper"
        tabindex="0"
        (blur)="isProfileClicked = false"
      >
        <mat-icon
          alt="profile"
          class="max-w-8 max-h-8 rounded-lg hover:cursor-pointer"
          (click)="isProfileClicked = !isProfileClicked"
          >account_circle</mat-icon
        >
        <div
          *ngIf="isProfileClicked"
          class="absolute top-10 bg-white border-2 rounded-lg -left-20 z-50"
        >
          <div
            class="p-2 cursor-pointer hover:bg-gray-100 flex gap-1"
            (click)="changePassword()"
          >
            change password
          </div>
          <div
            class="p-2 cursor-pointer hover:bg-gray-100 flex gap-1"
            (click)="logout()"
          >
            Logout
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <ng-content></ng-content>
  </div>
</div>
