<form>
  <label for="pname"
    >product name:
    <input type="text" name="pname" [(ngModel)]="productModel.name" />
  </label>
  <label for="pdes"
    >product description:
    <input type="text" name="pdes" [(ngModel)]="productModel.description" />
  </label>
  <label for="pprice"
    >price:
    <input type="number" name="pprice" [(ngModel)]="productModel.price" />
  </label>
  <label for="pbrand"
    >brand name:
    <input type="text" name="pbrand" [(ngModel)]="productModel.brand" />
  </label>
  <label for="pcat"
    >category:
    <input type="text" name="pcat" [(ngModel)]="productModel.category" />
  </label>
  <label for="pavail"
    >available:
    <input
      type="checkbox"
      name="pavail"
      [(ngModel)]="productModel.is_available"
    />
  </label>
  <label for="pstock"
    >product in stock:
    <input type="number" name="pstock" [(ngModel)]="productModel.in_stock" />
  </label>

  <label for="pdate"
    >release date:
    <input type="date" name="pdate" [(ngModel)]="productModel.release_date" />
  </label>

  <label for="preview"
    >preview:
    <img
      [src]="'data:image/jpeg;base64,' + productModel.imageData"
      class="max-w-md min-w-80 rounded-lg h-60"
      alt="image"
    />
  </label>

  <label for="pimage"
    >image:
    <input type="file" name="pimage" (change)="fileUpload($event)" />
  </label>

  <button class="btn" *ngIf="!(id$ | async)" (click)="addProduct()">
    add product
  </button>
  <button class="btn" *ngIf="id$ | async" (click)="updateProduct()">
    update product
  </button>
</form>
