<app-layout [showLoader]="showLoader">
  <div class="flex justify-center items-center">
    <div class="cart-details" *ngIf="product$ | async as product">
      <img
        [src]="'data:image/jpeg;base64,' + product.imageData"
        class="max-w-md min-w-80 rounded-lg"
      />
      <div class="flex flex-col gap-4 mb-4">
        <div class="font-semibold text-lg">{{ product.name }}</div>
        <div class="font-semibold">{{ product.brand }}</div>
        <hr class="border-black" />
        <div>{{ "Price :₹" + product.price }}</div>
        <div>{{ product.description }}</div>

        <div>Release date : {{ product.release_date | date }}</div>
        <div
          class="flex justify-center gap-4"
          *ngIf="
            (authService.isSeller$ | async) &&
              product.createdBy?.id === (authService.userId$ | async);
            else buyProductButton
          "
        >
          <button class="btn" (click)="updateProduct(product.id)">
            update
          </button>
          <button class="btn" (click)="deleteProduct(product.id)">
            delete
          </button>
        </div>
        <ng-template #buyProductButton>
          <div class="button-module">
            <button
              *ngIf="product?.is_available"
              mat-raised-button
              color="primary"
              (click)="buyProduct()"
            >
              Buy product
            </button>
            <button
              *ngIf="product.id"
              mat-raised-button
              color="primary"
              (click)="buyProduct()"
            >
              Add to cart
            </button>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</app-layout>
